# the chip is an stm32f103xe clone gd32f303RET6 chip with PB10 PB9 PB8 PC15 PA0 PA12 PC13 PB10 already mapped along with the standard usb pins
[mcu THR]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_10643B879894B00439333931-if00
restart_method: command