# =================================
# Artillery M1 Pro X1 - Printer config
# =================================
#
# None of this would have been possible without the prior work of:
# Daniel Sauvage   
# Pierre Poissinger
# The Team at K.A.M.P.
# The Team at Klipper Backup
# The Team at KIAUH
# The Team at ShakeTune
# The Team at Smart Chamber Heater
#
# See docs/Config_Reference.md for a description of parameters.
[include MCU_THR.cfg]
[include MCU_M4P.cfg]
[include tinyfan-rp2040.cfg]
[include print-macros.cfg]
[include filament-macros.cfg]
[include homing-override.cfg]
# Slicer macro
#[include slicer-macro.cfg]
#[include manual_change.cfg]
# Obico
#[include moonraker_obico_macros.cfg]
[include KAMP_Settings.cfg]
[include led-macros.cfg]
[include clean-nozzle.cfg]
[include smart-chamber-heater.cfg]

# Tweaks
# Ellis3D helpful macros
[include macros_ellis3d.cfg]

#####################################################################
# 	Printer Proper
#####################################################################

[printer]
kinematics:corexy
max_velocity: 800
max_accel: 20000
# max_accel_to_decel: 10000
minimum_cruise_ratio: 0.5
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity:15.0

[force_move]
enable_force_move : True

[respond]
default_type: echo
default_prefix: echo:

[virtual_sdcard]
path: /home/xateesix/printer_data/gcodes

[print_stats]

[gcode_move]

[pause_resume]
recover_velocity: 50.0 

[display_status]

[gcode_arcs]
resolution: 1.0     # Increase arc command segmentation length

[exclude_object]

[firmware_retraction]
retract_length: 2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
# 	Steppers
#####################################################################

[stepper_x]
step_pin: PC6
dir_pin: !PA14
enable_pin: !PC7
microsteps: 16
rotation_distance: 40.0
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin:!PB23
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min: -2.0
position_endstop:-2.0
position_max:265.0
homing_speed:30
homing_retract_dist:0
homing_positive_dir:false
# step_pulse_duration:0.0000001

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 1.0 #1.0  #1.06
# hold_current: 0.8
interpolate: true
diag_pin:^PC0
driver_SGTHRS:85
stealthchop_threshold: 10  # Enables ultra-quiet StealthChop at all speeds
driver_TBL: 2                  # Standard blank time for 24V
driver_TOFF: 3                 # Optimized off-time for 24V
driver_HEND: 3                 # Hysteresis end optimal for 24V
driver_HSTRT: 0                # Hysteresis start optimal for 24V


[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40.0
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin:!PC2#!MKS_THR:gpio24
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: -2.0# Changed to floating point number to prevent floating point calculation errors
position_endstop: -2.0
position_max: 280.0
homing_speed:30
homing_retract_dist:0
homing_positive_dir:false
# step_pulse_duration:0.0000001

[tmc2209 stepper_y]
uart_pin: PC10
run_current: 1.0 #1.0 #1.06
# hold_current: 0.8
interpolate: true
diag_pin:^PC1
driver_SGTHRS:85
stealthchop_threshold: 10  # Enables ultra-quiet StealthChop at all speeds
driver_TBL: 2                  # Standard blank time for 24V
driver_TOFF: 3                 # Optimized off-time for 24V
driver_HEND: 3                 # Hysteresis end optimal for 24V
driver_HSTRT: 0                # Hysteresis start optimal for 24V

[stepper_z]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD5
microsteps: 64
rotation_distance: 8.0
full_steps_per_rotation: 200
gear_ratio: 3:2
# Temporary bring-up pin so config can load before tap/loadcell input is identified.
# Replace with the actual tap/loadcell signal pin after testing.
#endstop_pin:^PC15
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 260.0
position_min: -5.0
homing_speed: 5
homing_retract_speed: 2
homing_retract_dist: 5
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PA13
run_current: 0.7# 1.1            # Rated current on the datasheet is 1A, set to 0.7
# hold_current: 0.8
interpolate: True
driver_SGTHRS:60
stealthchop_threshold: 10  # Enables ultra-quiet StealthChop at all speeds
driver_TBL: 2                  # Standard blank time for 24V
driver_TOFF: 3                 # Optimized off-time for 24V
driver_HEND: 3                 # Hysteresis end optimal for 24V
driver_HSTRT: 0                # Hysteresis start optimal for 24V

[extruder]
step_pin:THR:PB9#gpio5#!PC4
dir_pin:!THR:PB8#gpio4#PC5
enable_pin:!THR:PC15#!PA4
microsteps:16
rotation_distance: 33.2804	#Bondtech 5mm Drive Gears
gear_ratio: 65:9
#rotation_distance: 16.15	#Bondtech 5mm Drive Gears
#gear_ratio: 50:17
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: -100
max_temp: 330
heater_pin:THR:PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: THR:PA0
max_power: 1.0
pwm_cycle_time: 0.1#0.001
control:pid
pid_kp:13.320
pid_ki:1.345
pid_kd:32.967
smooth_time: 1
pressure_advance: 0.042  #0.025  Modified default pressure advance value. 0.025 is too small, causing protrusions at corners. The machine model's cooling fan airflow is too low, requiring auxiliary cooling fans to be enabled, otherwise pressure advance differences between speeds will be significant
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:42
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000
max_extrude_only_velocity:5000
max_extrude_only_accel:5000
# step_pulse_duration:0.0000001
min_extrude_temp:0

[tmc2209 extruder]
uart_pin:THR:PC13#PC11
run_current:0.9#1.0 #1.2
#hold_current: 0.5
# sense_resistor: 0.110
interpolate: true
driver_SGTHRS:60
stealthchop_threshold: 999999  # Enables ultra-quiet StealthChop at all speeds
driver_TBL: 2                  # Standard blank time for 24V
driver_TOFF: 3                 # Optimized off-time for 24V
driver_HEND: 3                 # Hysteresis end optimal for 24V
driver_HSTRT: 0                # Hysteresis start optimal for 24V

#####################################################################
# 	Heaters, Temp Probes, and Fans (Some others are included in there respective config files)
#####################################################################

[heater_bed]
heater_pin: PD4
#sensor_type: NTC 100K MGB18-104F39050L32#EPCOS 100K B57560G104F
sensor_type: EPCOS 100K B57560G104F
# pullup_resistor: 2990
sensor_pin: PC4
max_power: 1.0
smooth_time: 3.5
control = pid
pid_kp = 71.372
pid_ki = 1.629
pid_kd = 781.518
min_temp: -100
max_temp: 130

[verify_heater heater_bed]
max_error: 200
check_gain_time:100
hysteresis: 10
heating_gain: 2

[adc_temperature m1_chamber]
temperature1: 25.2
voltage1: 4.77961
temperature2: 28.3
voltage2: 4.75397
temperature3: 38
voltage3: 4.720545
temperature4: 44
voltage4: 4.65003
temperature5: 51
voltage5: 4.58715
temperature6: 60
voltage6: 4.50229
temperature7: 63
voltage7: 4.45421

[temperature_sensor Chamber_Temperature]
sensor_type: m1_chamber
sensor_pin: PA0
min_temp: -70
max_temp: 80

[verify_heater chamber_heater]
max_error: 300
check_gain_time:480 # Heating 1 degree in 6 minutes is somewhat dangerous, there is a possibility of thermal runaway, pending discussion. New parameters sent by Yuntu on March 31, 2025, under verification
hysteresis: 5 # New parameters sent by Yuntu on March 31, 2025, under verification
heating_gain: 0.8

[heater_generic chamber_heater]
heater_pin: PD3
max_power: 1.0
sensor_type: Generic 3950
sensor_pin: PA6
pullup_resistor: 4700
control: watermark
min_temp: 0             # Adjusted up from -70 since Generic 3950 operates in normal positive bounds
max_temp: 140
gcode_id: C

[temperature_sensor CB2]
sensor_type: temperature_host
min_temp: 0
max_temp: 80


[fan_generic filter_fan]
pin:PD2
shutdown_speed:0
cycle_time:0.001

# Heatsink fan
[heater_fan hotend_fan]
pin:THR:PB5
tachometer_pin:THR:PA9
tachometer_ppr:2
shutdown_speed:0
fan_speed: 1.0
tachometer_poll_interval: 0.0001

# Part fan 1
[fan]
pin: THR:PB6
tachometer_pin:THR:PA8
tachometer_ppr:2
shutdown_speed:0
tachometer_poll_interval: 0.0001

[fan_generic secondary_part_fan]
pin: THR:PB4
tachometer_pin:THR:PA10
tachometer_ppr:2
shutdown_speed:0
tachometer_poll_interval: 0.0001

#####################################################################
# 	Probe
#####################################################################

[force_move]
enable_force_move: true   # required by the command SET_KINEMATIC_POSITION in the calibration step below.

[safe_z_home]
z_hop: 5
home_xy_position:127.5,127.5

[BDsensor]
# Don't use aliases for the board pins
sda_pin: PC3 # example of connecting to main board Creality V4.2.7
scl_pin: PB9
#scl_pin:MKS_THR:gpio20 # example of connecting to CAN module like MKS THR42
#sda_pin:MKS_THR:gpio11
#scl_pin:host:gpio17 # example of connecting to GPIO on RaspberryPi
#sda_pin:host:gpio27
delay: 10 # you can set it 10 if the BDsensor version is >=1.2
z_offset: -0.110 #  within -0.6 to 0.6mm
x_offset: 0
y_offset: -28.5
no_stop_probe: # fast probe that the toolhead will not stop at the probe point,disable it by commenting out.
position_endstop: 1.2 #the triggered position, recommend value is 1~2.8
collision_homing:1 #  set it 1 to enable homing with nozzle collision sensing.
collision_calibrate:0 # set it 1 to enable auto calibrate BDsensor with nozzle collision sensing.
#QGL_Tilt_Probe:0 # set 1 to enable probe up and down when do quad_gantry_level,default is 1
speed:3 # this speed only works for the z tilt and PROBE_ACCURACY command.
#homing_cmd: G28 # needed by the auto calibration.the default is G28, please set it G990028 if there has [gcode_macro G28]
#homing_cmd: G28
homing_cmd:G990028

[bed_mesh]
speed:200
horizontal_move_z:1 # 0.7~1.0mm is recommended
algorithm: bicubic  # this should be bicubic if the bed mesh points count is > 6*6
mesh_min:5,30        
mesh_max:250,250        
probe_count:6,6
bicubic_tension:0.2
move_check_distance:3.0
split_delta_z: .02
mesh_pps: 4,4
fade_start:5.0
fade_end:30.0 
zero_reference_position: 127.5,127.5 # Set this value to be the same as home_xy_position that is in the section safe_z_home

[screws_tilt_adjust]
screw1: 133,133
screw1_name: center
screw2: 34,34
screw2_name: front left screw
screw3: 233,34
screw3_name: front right screw
screw4: 34,233
screw4_name: rear left screw
screw5: 233,233
screw5_name: rear right screw
horizontal_move_z: 5
speed: 150
screw_thread: CCW-M4

#####################################################################
#       Resonance Shaper
#####################################################################

[lis2dw]
cs_pin:THR:PA4
# spi_software_sclk_pin:THR:PA5
# spi_software_mosi_pin:THR:PA7
# spi_software_miso_pin:THR:PA6
spi_bus:spi1
spi_speed:9000000
axes_map: y, -z, x

[resonance_tester]
accel_chip:lis2dw
accel_per_hz:150    # Increase resonance acceleration frequency and energy to obtain a more accurate shaper; the downside is that the machine vibrates significantly during vibration testing
probe_points:
   125, 125, 10
max_freq: 100  # Stops the test at 100Hz to prevent excessive hardware strain
max_smoothing: 0.2

[input_shaper]
shaper_freq_x: 55.6
shaper_freq_y: 51.4
shaper_type_x: ei
shaper_type_y: ei
damping_ratio_x: 0.043
damping_ratio_y: 0.053

[shaketune]
 result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store
#    results in a different location.
number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
max_freq: 100
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.
